 main {
    margin-right: 60px;
 }

article {margin-left: 50px;}

.leftcolumn {
    display: inline-block;
    width: 40%;
    float:left;
    margin-left: 40px;
    margin-top: 50px;
}
.rightcolumn {
    display: inline-block;
    width: 40%;
    float:right;
    margin-right: 60px;
    margin-top: 50px;
}