 main article {
    margin-light: 60px;
 }

main h3 {
    margin-left: 5px;
}


article.posttitle {
    width: 97.5%; text-align: left; margin: 5px;
}


.blogimage {
    clear: both;
}

.blog {
    text-align: left;
}
