 main {
    text-align: left;
 }


html{
}

.leftcolumn {
    display: inline-block;
    width: 40%;
    float:left;
    margin: 30px, 30px, 30px, 30px;
}
.rightcolumn {
    display: inline-block;
    width: 40%;
    float:right;
    margin: 30px, 30px, 30px, 30px;
}