body {
  font-family: 'Dosis', sans-serif; font-size:1em;
}

header h1 a {
  font-size: 1em; text-decoration: none; color: black;
}

nav ul {
  margin:0; padding:0; text-align: right;
  background-color: whitesmoke;
}
nav ul li {
  display:inline; margin:10px;
}

#tag_line, #contact {
border: 1px;
background-color: rgb(120, 107, 96);
width: 550px;
margin-left: 280px;
position: relative;
text-align: center;
font-style: italic;
color: whitesmoke;
margin-top: -350px;
font-size: 25px;
}


#aboutme{
border: 1px;
background-color: rgb(120, 107, 96);
width: 550px;
margin-top: -450px;
margin-left: 280px;
position: relative;
text-align: center;
font-size: 1em;
font-style: italic;
color: white;
}

/*.style {margin-left: -40px;}*/
/*
.f1 {display: inline-block;
    width: 40%;
    float:left;
    margin-left: 50px;
    margin-bottom: 40px;}

.f2 {display: inline-block;
    width: 40%; float:right; margin-right: 50px; margin-left: -38px}*/


.blogtable1{border: 1px; color: white;
  background-color: rgb(120, 107, 96);
  color: white;
  margin-top: -500px;
  margin-left: 75px;
  padding:8px;
  position: absolute;
  width: 950px;
  }

.blogtable2 {
 margin-top:-420px;
 margin-right: -50px;
 float: right;
 width: 550px;
 height:250px;
 position: relative;
 color: white;
}

section.blogtable1 table tbody tr td a {
  color:whitesmoke;
}

section.blogtable2 table tbody tr td a{
color: whitesmoke;
}

/*main h3 {
  width: 400px; margin-left: 70px;
}*/
/*p {
  text-align: left; margin: 5px;
}
*/
footer {
text-align: center;
position: relative;
}